<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.lukasdylan.grpc.protodroid">

    <application>

        <activity
            android:name=".internal.ui.ProtodroidActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/protodroid_AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="detail"
                    android:scheme="protodroid" />

            </intent-filter>

        </activity>

    </application>

</manifest>
